::ng-deep .p-carousel-indicator-list{
    display: none !important;
}

.pi::before {
   font-size: inherit;
}

.clamp {
    display: -webkit-box;
    // line-clamp: 3; /* number of lines to show */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}