.banner-text{
    padding-left: 19rem;
    padding-right: 19rem;
}

.banner-text-container{
    padding-bottom: 5rem !important;
}

.montserrat{
    font-family: 'Montserrat';
}

.poppins{
    font-family: 'Poppins';
}

.gradient{
    background: #CF1EA3;
    background: linear-gradient(to bottom, #CF1EA3 9%, #5852CF 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


// Mobile view
@media only screen and (max-width: 768px) {
    .banner-text{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}