<main class="">
    <!-- Container -->
    <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-3 bg-[#002868] text-white">
        <!-- Logo -->
        <div>
            <img class="w-[160px] md:w-[220px]" src="/assets/images/logo.png" alt="Caltondatx Logo">
        </div>

        <!-- Columns -->
        <div class="md:columns-2 columns-1">
            <div class="grid gap-2">
                <p class="">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    -Social Proof
                </p>
                <div>
                    <p class="font-bold text-4xl md:text-6xl text-white text-shadow-lg">TRACK PEOPLE AND VEHICLES SEAMLESSLY</p>
                </div>
                <p class="leading-[1.1]">
                    Our cutting-edge web app captures real-time analytics on the movement of people and vehicles, 
                    empowering businesses to make data-driven decisions.
                </p>
                <app-button buttonClass="text-[#002868] bg-white cursor-pointer" class="mt-4 mb-4" buttonTitle="View Demo"></app-button>            
            </div>
            <div class="md:flex md:justify-end">
                <img class="rounded-xl" src="/assets/images/ml.png" alt="Machine Learning Demo">
            </div>
        </div>
        <!-- End Columns -->
        
    </div>
    <!-- End Container -->

    <!-- 2nd Container -->
     <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-3 bg-white">
        <!-- Start Solution Div -->
        <div class="flex items-center justify-between">
            <div class="grid md:w-[60%]">
                <p>Solutions</p>
                <p class="md:text-4xl text-xl font-bold text-[#002868] leading-[1]">Where data meets audience, and opportunity meets growth.</p>
            </div>
            <div>
                <app-button buttonClass="text-white bg-[#002868] text-xs md:text-sm cursor-pointer" buttonTitle="See all Solutions"></app-button>
            </div>
        </div>
     </div>
     <!-- End 2nd Container -->
     <!-- Start 3rd Container -->
      <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-[#021b42] text-white">
        <div class="grid gap-4">
            <p class="text-[#c9aaf1]">Featured Product</p>
            <div class="grid md:text-4xl text-xl font-bold leading-[1.1]">
                <p>Audience Measurement</p>
                <span>Enabled by <span class="text-[#c9aaf1]">CaltonDatx</span></span>
            </div>
            <div class="w-100 md:w-70">
                <p>Gain a deeper understanding of your audience with Calton Datx's cutting-edge audience measurement technology.</p>
            </div>
            <app-button buttonClass="text-[#002868] bg-white cursor-pointer" class="mt-4 mb-4" buttonTitle="Learn more"></app-button>
        </div>
      </div>
      <!-- End 3rd Container -->

      <!-- Start 4th Container -->
       <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-18 bg-white">
            <div class="flex flex-wrap md:flex-nowrap gap-8 pl-3 pr-3">
                <!-- 1st Box -->
                <div class="grid gap-5 text-center bg-[#e9e8e9] rounded-xl p-4 md:pt-8">
                    <div>
                        <p class="text-[#75caca] text-xl font-bold">Indoor Mall Audience Measurement</p>
                    </div>
                    <p class="leading-[1.3]">
                        Discover better understanding of customer patterns,
                        preferences, and interactions within the mall. By
                        analyzing foot traffic, dwell times, and engagement with
                        different areas, mall owners, tenants, and marketers can
                        better understand customer patterns. The result is a more
                        efficient, personalized environment that boosts
                        satisfaction, increases foot traffic, and drives sales,
                        fostering stronger brand loyalty and growth for both
                        retailers and the mall. 
                    </p>
                    <app-button buttonClass="text-[#002868] bg-white cursor-pointer" class="mb-4" buttonTitle="Explore"></app-button>
                </div>
                <!-- 2nd Box -->
                 <div class="grid gap-5 text-center bg-[#e9e8e9] rounded-xl p-4 md:pt-8">
                    <p class="text-[#ff66c4] text-xl font-bold">Vehicle Audience Measurement</p>
                    <p class="leading-[1.3]">
                        Get valuable insights into the effectiveness of vehicle-
                        based advertising by tracking how these ads are seen,
                        engaged with, and how they influence customer behavior
                        while people are in or around moving vehicles. This data
                        helps advertisers refine their messaging, optimize ad
                        placement, and measure the true impact of vehicle-
                        based campaigns, ultimately driving more meaningful
                        customer engagement and improving the ROI of mobile
                        advertising efforts.
                    </p>
                    <app-button buttonClass="text-[#002868] bg-white cursor-pointer" class="mb-4" buttonTitle="Explore"></app-button>
                 </div>
            </div>
       </div>
      <!-- End 4th Container -->
      <!-- Start 5th Container -->
       <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-[#021b42] text-white">
            <p class="font-bold text-xl md:text-2xl mt-5 mb-13 text-center">Powerful Features to Elevate Your Analytics</p>

            <div class="grid pl-5 pr-5">
                <div class="flex md:gap-18 gap-0 justify-center flex-wrap md:flex-nowrap flex-col-reverse md:flex-row content-center">
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center mb-15">
                        <img class="w-auto rounded-xl" src="/assets/images/ml.png" alt="">
                    </div>
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center mb-2">
                        <div>
                            <p class="font-bold text-2xl">Real-time People Tracking</p>
                            <p>
                                Monitor foot traffic with high accuracy to
                                understand visitor behavior and optimize operations.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex md:gap-18 gap-0 justify-center flex-wrap md:flex-nowrap">
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center md:text-right">
                        <div>
                            <p class="font-bold text-2xl">Vehicle Monitoring</p>
                            <p>
                                Analyze vehicle flow patterns and parking
                                trends to enhance infrastructure planning.
                            </p>
                        </div>
                    </div>
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center mb-15">
                        <img class="w-auto rounded-xl" src="/assets/images/image1.png" alt="">
                    </div>
                </div>

                <div class="flex md:gap-18 gap-0 justify-center flex-wrap md:flex-nowrap flex-col-reverse md:flex-row content-center">
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center mb-15">
                        <img class="w-auto rounded-xl" src="/assets/images/image2.png" alt="">
                    </div>
                    <div class="md:w-80 w-60 md:h-60 h-40 grid place-items-center">
                        <div>
                            <p class="font-bold text-2xl">App Integration for Ads</p>
                            <p>
                                Install our app on poster boxes or digital
                                displays for interactive and targeted
                                advertising solutions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
      <!-- End 5th Container -->
       <!-- Start 6th Container -->
        <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-white vh-100 grid gap-13 md:gap-20 items-start justify-center place-items-center">
            <div class="text-center text-[#002868] md:w-[50%]">
                <p class="font-bold text-2xl mb-3">Header Line</p>
                <p class="text-lg">
                    Unlock the power of AI-driven insights and take your
                    advertising to the next level with our Cloud-based
                    Audience Metrics Solution
                </p>
            </div>
            
            <div class="flex flex-wrap justify-center gap-3 md:gap-0">
                <img class="h-40 w-60 md:w-70 md:h-50 md:place-self-end" src="/assets/images/image1.png" alt="">
                <img class="h-40 w-60 mask-x-from-90% mask-x-to-1% md:w-100 md:h-80" src="/assets/images/ml.png" alt="">
                <img class="h-40 w-60 md:w-70 md:h-50 md:place-self-end" src="/assets/images/image2.png" alt="">
            </div>

            <app-button buttonClass="text-white bg-[#002868] cursor-pointer" class="mt-4 mb-4" buttonTitle="View Demo"></app-button>
        </div>
       <!-- End 6th Container -->
       <!-- Start 7th Container -->
        <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-[#021b42] text-white">
            <p class="text-[#c9aaf1]">Testimonials</p>
            <div class="md:leading-[0.8]">
                <p class="font-bold text-xl md:text-6xl tracking-tight">Stories that <span class="text-[#c9aaf1]">speak</span> <span>.</span></p>
                <p class="font-bold text-xl md:text-6xl tracking-tight">Results that <span class="text-[#fcbd6d]">show</span> <span>.</span></p>
            </div>
        </div>
       <!-- End 7th Container -->
       <!-- Start 8th Container -->
        <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-white text-[#002868]">
            <div class="flex flex-wrap md:flex-nowrap gap-30">
                <div class="w-[50%]">
                    <svg class="h-10 w-10 md:h-50 md:w-80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320"><path d="M82.87 129.48S77.32 98.96 114.31 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.59 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61zm154.26 0S231.58 98.96 268.57 74c-12.95 0-89.7 30.52-89.7 113.74 0 33.09 27.58 59.73 61.01 58.19 29.85-1.37 54.07-25.6 55.44-55.45 1.54-33.41-25.1-61-58.19-61z" fill="#002868"></path></svg>
                    <div class="md:pl-15">
                        <p class="md:text-2xl">WHAT OUR CLIENT SAYS</p>
                        <p class="font-bold md:text-5xl">Customers Stories</p>
                        <p class="italic md:text-2xl">
                            Discover how our services have
                            transformed lives and businesses
                            through the heartfelt stories and
                            glowing reviews shared by our
                            valued customers.
                        </p>
                    </div>
                </div>

                <div class="grid border-2 border-solid w-[50%]">
                    <i class="pi pi-user"></i>
                    <p class="italic text-[#002868] md:text-2xl">
                        Discover how our services have
                        transformed lives and businesses
                        through the heartfelt stories and
                        glowing reviews shared by our
                        valued customers.
                    </p>
                    <p class="font-bold md:text-2xl text-[#002868]">Full Name</p>
                </div>
            </div>
        </div>
       <!-- End 8th Container -->
</main>