<div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-[#002868] text-white">
    <div class="grid justify-items-center gap-2">
        <p pAnimateOnScroll enterClass="animate-slideInLeft" class="font-bold md:text-3xl tracking-tight">Get the latest news</p>
        <p class="italic text-sm md:text-lg font-light text-center">Be the first to know what's new, what's next and what matters.</p>
        <div class="flex flex-wrap gap-4 items-center justify-center mt-2 md:flex-nowrap md:w-full md:pl-20 md:pr-20">
            <input class="w-full h-10 p-2 md:w-full md:h-12 md:p-3 border-1 border-solid border-white font-light" type="email" placeholder="Email Address">
            <app-button buttonClass="text-white text-sm font-bold bg-transparent cursor-pointer border-1 border-solid border-white md:text-xl hover:bg-white hover:text-[#002868]" buttonTitle="Subscribe"></app-button>
        </div>
    </div>
</div>