button{
    // background-color: white;
    // color: #002868;
    font-weight: 600;

    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;

    border-radius: 10px;
}