/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
// @import "primeicons/primeicons.css";
@use "primeicons/primeicons.css";
@use "tailwindcss";

/* Tailwind custom animation */
@keyframes slideInLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.animate-slideInLeft {
    animation: slideInLeft 1s ease-out;
}

/* tailwind.css or global styles */
@keyframes slideInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInUp {
  animation: slideInUp 1s ease-out;
}
