<main id="main" class="">
    <!-- Container -->
    <div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-3 bg-[#002868] text-white">
        <!-- Logo -->
        <!-- <div>
            <img class="w-[160px] md:w-[270px]" src="/assets/images/logo.png" alt="Caltondatx Logo">
        </div> -->

        <!-- Columns -->
        <div class="md:columns-2 columns-1">
            <div class="grid gap-2">
                <p class="md:text-xl">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    -Social Proof
                </p>
                <div class="animate-slideInLeft">
                    <p class="font-bold text-responsive text-4xl lg:text-8xl md:text-3xl text-white text-shadow-lg">
                        TRACK PEOPLE AND VEHICLES SEAMLESSLY</p>
                </div>
                <p class="leading-[1.1] lg:text-2xl md:text-md">
                    Our cutting-edge web app captures real-time analytics on the movement of people and vehicles,
                    empowering businesses to make data-driven decisions.
                </p>
                <app-button buttonClass="text-[#002868] bg-white cursor-pointer text-xs md:text-lg hover:bg-[#002868] hover:text-white hover:border-1 hover:border-solid hover:border-white"
                    class="mt-4 mb-4" buttonTitle="View Demo"></app-button>
            </div>
            <div class="md:flex md:justify-end animate-slideInUp">
                <img class="rounded-xl" src="/assets/images/ml.png" alt="Machine Learning Demo">
            </div>
        </div>
        <!-- End Columns -->

    </div>
    <!-- Solutions -->
    <app-solutions/>
    <!-- Featured Product -->
    <app-featured-product/>
    <!-- Audience Measurement -->
    <app-audience-measurement/>
    <!-- Elevate Your Analytics -->
    <app-elevate-your-analytics/>
    <!-- Audience Metric Solution -->
    <app-audience-metric-solution/>
    <!-- Testimonials -->
    <app-testimonials/>
    <!-- Customer Stories -->
    <app-customer-stories/>
    <!-- FAQs -->
    <app-faq/>
    <!-- Contact Us -->
    <app-contact-us/>
    <!-- Footer -->
    <app-footer/>
    <!-- Scroll to top button -->
    <p-scrolltop styleClass="[p-scrolltop:bg-red-400 p-scrolltop:text-red]" icon="pi pi-arrow-up" />
</main>