<div class="pl-3 pr-3 pt-4 pb-10 md:p-12 md:pt-8 bg-[#021b42] text-white">
    <p class="text-[#c9aaf1]">Testimonials</p>
    <div pAnimateOnScroll enterClass="animate-slideInLeft" class="md:leading-[0.8]">
        <p class="font-bold text-xl md:text-4xl lg:text-6xl tracking-tight">Stories that 
            <span class="text-[#c9aaf1]">speak</span> <span>.</span></p>
        <p class="font-bold text-xl md:text-4xl lg:text-6xl tracking-tight">Results that 
            <span class="text-[#fcbd6d]">show</span> <span>.</span></p>
    </div>
</div>