<div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-[#021b42] text-white bg-[url('/assets/images/spiral.png')] bg-no-repeat bg-[length:25%_75%] bg-[position:100%_225%] md:bg-[length:15%_80%]">
    <div class="grid gap-4">
        <p class="text-[#c9aaf1]">Featured Product</p>
        <div pAnimateOnScroll enterClass="animate-slideInLeft" once="true"
            class="grid lg:text-4xl md:text-3xl text-xl font-bold leading-[1.1]">
            <p>Audience Measurement</p>
            <span>Enabled by <span class="text-[#c9aaf1]">CaltonDatx</span></span>
        </div>
        <div class="w-auto md:w-70">
            <p>Gain a deeper understanding of your audience with Calton Datx's cutting-edge audience measurement
                technology.</p>
        </div>
        <app-button
            buttonClass="text-[#002868] bg-white cursor-pointer text-xs md:text-lg hover:bg-[#021b42] hover:text-white hover:border-1 hover:border-solid hover:border-white"
            class="mt-4 mb-4" buttonTitle="Learn more"></app-button>
    </div>
</div>