<div class="pl-3 pr-3 pt-3 pb-10 md:p-12 md:pt-8 bg-white vh-100 grid gap-13 md:gap-20 items-start justify-center place-items-center">
    <div class="text-center text-[#002868] md:w-[50%]">
        <p pAnimateOnScroll enterClass="animate-slideInLeft" class="font-bold text-2xl mb-3 mt-8">Header Line</p>
        <p class="text-lg">
            Unlock the power of AI-driven insights and take your
            advertising to the next level with our Cloud-based
            Audience Metrics Solution
        </p>
    </div>

    <div class="flex flex-wrap justify-center gap-3 md:gap-0">
        <img pAnimateOnScroll enterClass="animate-slideInUp" class="h-50 w-70 md:w-70 md:h-50 md:place-self-end"
            src="/assets/images/image1.png" alt="">
        <img pAnimateOnScroll enterClass="animate-slideInUp"
            class="h-50 w-70 mask-x-from-90% mask-x-to-1% md:w-100 md:h-80" src="/assets/images/ml.png" alt="">
        <img pAnimateOnScroll enterClass="animate-slideInUp" class="h-50 w-70 md:w-70 md:h-50 md:place-self-end"
            src="/assets/images/image2.png" alt="">
    </div>

    <app-button buttonClass="text-white bg-[#002868] cursor-pointer hover:bg-white hover:text-[#002868] hover:border-1 hover:border-solid hover:border-[#002868]"
        class="mt-4 mb-4" buttonTitle="View Demo"></app-button>
</div>