<div class="pl-3 pr-3 pt-3 lg:pt-20 md:pt-10 pb-10 lg:pb-30 md:pb-20 md:p-12 bg-white">
    <!-- Start Solution Div -->
    <div class="flex flex-wrap md:flex-nowrap justify-between md:items-center">
        <div class="grid md:w-[60%] animate-slideInLeft">
            <p>Solutions</p>
            <p class="md:text-3xl lg:text-5xl text-xl font-bold text-[#002868] leading-[1]">Where data meets
                audience, and opportunity meets growth.</p>
        </div>
        <div>
            <app-button
                buttonClass="text-white bg-[#002868] text-xs md:text-lg cursor-pointer mt-5 md:mt-0 hover:bg-white hover:text-[#002868] hover:border-1 hover:border-solid hover:border-[#002868]"
                buttonTitle="See all Solutions"></app-button>
        </div>
    </div>
</div>